* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

:root {
  --mainBtns: #e15d44;
  --nicePurple: rgba(83, 41, 120, 0.32);
  --borderRadius: 10px;
}

body {
  text-decoration: none;
  height: 90dvh;
  background-color: rgba(167, 145, 145, 0.368);
}

.container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem 10px;
  background-color: #1231a16b;
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 10px rgba(6, 0, 0, 0.546);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: solid black; */
}

/* header section*/
.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0 10px;

  /* text-align: center; */
  /* border: 1px solid; */
}

/* main input area */
.input-form {
  background-color: var(--nicePurple);
  padding: 10px;
  border-radius: var(--borderRadius);
}

.input-form input {
  width: 100%;
  padding: 0.6rem;
  border-radius: var(--borderRadius);
  border: 1px solid black;
  border: none;
}

.input-form button {
  padding: 0.6rem;
  width: 130px;
  margin-top: 10px;
  border-radius: var(--borderRadius);
  border: 1px solid black;
  border: none;
  background-color: var(--mainBtns);
}

/* filter */
.list-h2 {
  text-align: center;
}

.filter {
  padding: 10px;
  background-color: var(--nicePurple);
  border-radius: var(--borderRadius);
}

.filter input {
  border: none;
  padding: 10px;
  border-radius: var(--borderRadius);
  width: 100%;
}

/* list items here */
li {
  list-style-type: none;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
}

.container li {
  min-width: 220px;
  margin: 10px;
  padding: 1rem 15px;
  /* border: 1px solid black; */
  border-radius: var(--borderRadius);
  background-color: whitesmoke;

  display: flex;
  justify-content: space-between;
}

.container ul li button {
  border: none;
  color: red;
}

/* clear button*/
.clearBtnBkg {
  padding: 10px;
  border-radius: var(--borderRadius);
  background-color: var(--nicePurple);
}

.clear-btn {
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--mainBtns);
}

@media (max-width: 660px) {
  .container {
    margin: 20px 10px;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  /*makes the lis take 100% of the space available*/
  .container ul .list-item {
    max-width: 100%;
  }
}
